#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
include /usr/share/quilt/quilt.make

TG_BRANCHES=debian/libtoolize
-include /usr/share/topgit/tg2quilt.mk

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DB2MAN=/usr/share/sgml/docbook/stylesheet/xsl/nwalsh/manpages/docbook.xsl
XP=xsltproc -''-nonet

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

# what to pass to libtool
SO_CURRENT=1
SO_REVISION=0
SO_AGE=0
SOVERSION=$(SO_CURRENT):$(SO_REVISION):$(SO_AGE)

build: test-stamp

test-stamp: build-stamp
	dh_testdir
	cd test && make all && make test
	touch $@

configure-stamp: $(QUILT_STAMPFN)
	# do the sed ourselves to avoid build dependency on csh
	sed -e 's/REPLACE_CC/CC="cc -Wall"/' \
	    -e 's/REPLACE_RANLIB/RANLIB="ranlib"/'  \
	    -e "s|REPLACE_INSTALLDIR|${INSTALLDIR}|"  \
	    -e 's/REPLACE_POSTFIX//' < Makefile_start > Makefile
	touch $@

override_dh_auto_configure:
	echo 'skipping dh_auto_configure'

build-stamp: configure-stamp bibutils.1
	dh_testdir
	$(MAKE) SOVERSION=$(SOVERSION) install
	touch $@

bibutils.dbk: $(QUILT_STAMPFN)

bibutils.1: bibutils.dbk
	$(XP) -o $@ $(DB2MAN) $<


clean:  unpatch
	dh_testdir
	dh_testroot
	rm -f configure-stamp build-stamp test-stamp
	$(MAKE) -f Makefile_start realclean
	make -f debian/rules unpatch
	# this is here so we don't have to repatch before clean
	rm -rf lib/.libs lib/*.lo lib/*.la
	dh_clean bibutils.1 Makefile


install: build
	dh install

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh binary-arch

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
